.header {
  background-color: #333;
  color: white;
  padding: 10px;
}
// .checkbox {
//   color: #9e9e9e;
// }

// .checked {
//   color: #0a0a0a;
// }
.backgroundCousom{
  background-color:'red';
  color:'red !important';
  margin: auto;
}
// .checkBox {
//   color: #9e9e9e;

//   &.Mui-checked {
//     color: #0a0a0a;
//   }
// }
.checkBox {
  &.MuiCheckbox-root {
    color: #9e9e9e;
  }

  &.Mui-checked {
    .MuiSvgIcon-root {
      color: #0a0a0a;
    }
  }
}
.custom-chip{
  flex-direction: row-reverse;
}
.custom-chip:focus {
  background-color: black;
  color: white; /* Change text color to white for better visibility */
}